<div class="container">    
    <button class="btn btn-success" (click)="addCategory()">Adicionar</button>
    <app-modal-adicionar title="Adicionar"></app-modal-adicionar>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Categorias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table">
                <thead>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                </thead>
                <tbody>
                    <tr scope="row">
                        <td>1</td>
                        <td>Aluguel</td>
                    </tr>
                    <tr scope="row">
                        <td>2</td>
                        <td>Condominio</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>
