<div class="main-section">
  <h2 class="main-section__subtitle">Skills</h2>
  <div class="main-section__list">
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>HTML5</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/html5-logo.png" alt="logo HTML5" />
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="90"></progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>CSS</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/css-logo.png" alt="logo CSS"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="70">70%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>JS</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/js-logo.png" alt="logo JS"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="80">80%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Angular</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/angular-logo.png" alt="logo Angular"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="50">50%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>PHP</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/php-logo.png" alt="logo PHP"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="80">80%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Laravel</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/laravel-logo.png" alt="logo Laravel"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="80">80%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Mysql</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/mysql-logo.png" alt="logo Mysql"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="90">90%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Docker</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/docker-logo.png" alt="logo Docker"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="30">30%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Vue</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/vue-logo.png" alt="logo Vue Js"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="70">70%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Git</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/git-logo.png" alt="logo Git"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="90">90%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Node</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/node-logo.png" alt="logo Node Js"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="20">20%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>TypeScript</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/ts-logo.png" alt="logo TypeScript"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="65">65%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Linux</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/tux-logo.png" alt="logo mascote do Linux"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="60">60%</progress>
      </div>
    </div>
    <div class="main-section__list__item">
      <div class="main-section__list__item__title">
        <span>Sass</span>
      </div>
      <div class="main-section__list__item__img">
        <img class="main-section__thumb" src="../../../assets/img/sass-logo.png" alt="logo Sass"/>
      </div>
      <div class="main-section__list__item__prog">
        <progress max="100" value="30">30%</progress>
      </div>
    </div>
  </div>

</div>
