$back-menu: #f60;
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
  }


#hamburguer {
    border-top: 2px solid;
    width: 20px;
    cursor: pointer;
}

#hamburguer::before, #hamburguer::after {
    content: '';
    display: block;
    position: relative;
    background-color: currentColor;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    transition: 0.3s;
}

.menu {
    display: flex;
    list-style: none;
    gap: 0.5 rem;
}

.header {
  height: auto;
  background-color: $back-menu !important;
  .header__link {
    position: relative;
    width: 10%;
  }
  .header__icon {
    width: 50%;
  }
}

