<header class="header text-center" id="header">
  <a href="#" class="header__link">
    <img src="../../../assets/icons/mars-icon-5.png" alt="mars icon" class="header__icon">
  </a>
  <nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light">
    <button></button>
    <span id="hamburguer"></span>
    <ul id="menu" class="menu">
      <li class="menu__item">Bio</li>
      <li><a routerLink="gallery" routerLinkActive="active" class="menu__link">Gallery</a></li>
    </ul>
  </nav>
</header>
