<header class="header text-center">
  <nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="#">William</a>
      <div class="navbar-collapse collapse">

        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item ng-star-inserted"><a class="nav-link nav-link-icon">BIO</a></li>
          <li class="nav-item ng-star-inserted"><a class="nav-link nav-link-icon">Gallery</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
