<div class="container-label">
    <p>Proporção de pares</p>
    <input type="tel" class="container-label__text" [(ngModel)]="proporcao" appOnlyNumber>
    <p>Qtd Jogos</p>
    <input type="tel" class="container-label__text" [(ngModel)]="qtdJogos">
    <button type="button" class="container-label__button" (click)="gerarJogos()">Gerar</button>
</div>
<!--<canvas width="400" height="410"><canvas> -->
<div class="result">
    <div class="caixa" *ngFor="let result of resultados">
        <div class="caixinha" *ngFor="let numero of result">
            {{ numero }}
        </div>
    </div>
    <!-- <ul>
        <li *ngFor="let result of resultados">{{ result }}</li>
    </ul> -->
</div>
