.modall {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 12px #333;
    min-width: 320px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.modall.in {
    display: block !important;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}